<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Push Notification codelab</title>

    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

<div class="mdl-layout__header mdl-layout__header-row">

    <h1>Push Notification codelab</h1>

</div>

<p>This page must be accessed using HTTPS or via localhost.</p>
<!--<button onclick="subscriptionUpdate">产生代码</button>-->
<main>
    <button disabled>Subscribe</button>

    <br>

    <code class="curl-code-example js-curl-code"></code>
</main>
<script src="../js/main1.js"></script>

</body>
</html>