<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rates App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
    <!--integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
</head>
<body>
<div class="container" id="app">
    <!--<h1>{{ hello }}</h1>-->
    <a v-link="{path: '/hello'}">hello</a>
    <a v-link="{path: '/about'}">about</a>

    <router-view></router-view>
    <!--<input v-model="hello">-->
    <!--<ul>-->

    <!--<li v-for="name in names">-->
    <!--{{ name.firstname + name.lastname }}-->
    <!--&lt;!&ndash;{{ name.firstname }} {{ name.lastname }}&ndash;&gt;-->

    <!--</li>-->
    <!--</ul>-->
    <!--<hr>-->
    <!--<br>-->
    <!--<br>-->
    <div class="filter" v-show="rates">
        <input type="text" class="form-control" v-model="liveFilter">
        <h4>选择货币:</h4>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control" v-model="curFilter">
                    <option value="">All</option>
                    <option v-for="cur in curs">{{ cur }}</option>
                </select>

            </div>
        </div>
    </div>


    <div class="publish" v-show="!rate">
        <table cellpadding="0" cellspacing="0" width="100%" align="left">
            <tr v-show="rates">
                <th>货币名称</th>
                <th>现汇买入价</th>
                <th>现钞买入价</th>
                <th>现汇卖出价</th>
                <th>现钞卖出价</th>
                <th>外管局中间价</th>
            </tr>
            <tr class="rate_list" v-for="rate in rates | filterBy liveFilter | filterBy curFilter">
                <td>
                    <a @click="getSigalRate(rate.field_cur[0].value)">{{ rate.field_cur[0].value }}</a>
                    <img v-bind:src="rate.field_cur_icon[0].url" alt="{{ rate.field_cur_icon[0].alt }}" hight="20px">
                </td>
                <td>{{ rate.field_buy_rate[0].value }}</td>
                <td>{{ rate.field_sell_rate[0].value }}</td>
                <td>{{ rate.field_notes_buy_rate[0].value }}</td>
                <td>{{ rate.field_notes_sell_rate[0].value }}</td>
                <td>{{ rate.field_mid_rate[0].value }}</td>
            </tr>
        </table>
    </div>

    <hr>
    <hr>

    <div v-show="rate" @click="getRate" v-for="rateItem in rate">
        <a class="btn btn-danger">返回</a>
        <h2>{{ rateItem.field_cur[0].value }}</h2>
        <h4>买入价:{{ rateItem.field_buy_rate[0].value }}</h4>
        <h4>卖出价:{{ rateItem.field_sell_rate[0].value }}</h4>
        <h4>中间价:{{ rateItem.field_mid_rate[0].value }}</h4>
        <h4>更新时间:{{ rateItem.created[0].value }}</h4>
    </div>


    <!--<hello></hello>-->
</div>

<!--template可于app外被Vue js中的template调用-->
<template id="hello">

    <button class="btn-block btn-info">hello</button>
    <h4>{{ message }}</h4>
</template>

<template id="about">

    <button class="btn-block btn-info">about</button>
    <h4>{{ message }}</h4>
</template>
<!--<div id="hello">-->


<!--</div>-->


<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="js/vue-router.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>